.expenses-filter {
    color: white;
    padding-block: 0;
    padding-inline: 1rem;
}

.expenses-filter__control {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 1rem;
    margin-inline: 0;
}

.expenses-filter label {
    font-weight: bold;
    margin-block-end: 0.5rem;
}

.expenses-filter select {
    font: inherit;
    padding-block: 0.5rem;
    padding-inline: 3rem;
    font-weight: bold;
    border-radius: 6px;
}