* {
    box-sizing: border-box;
}

/* img {
    width: 150px;
     margin-block: 1.5rem;
}

img {
    max-width: 100%;
    height: auto;
}

div {
    width: 60%;
    margin-inline: auto;
   
} */

/* header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

header p {
    color: #aeacac;
    font-size: 1rem;
}
h1, p {
    margin-block: 0;
    line-height: 1.6;
}
